<h1>Professor Invititation</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <ul>
          <li>Register the new professor's email in the form below.</li>
          <li>Tell the new Professor he/she can sign up normally.</li>
          <li>After his/her sign up, his/her condition will be automatically set.</li>
        </ul>
    </div>
    <div  class="col-md-6">
        <%= render 'form', professor: @professor %>
    </div>
</div>

