{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9"><h1>Requisito</h1></div>
        <div class="col-3"><button class="btn btn-block btn-info" href="/requisito/criar" data-toggle="modal" data-target="#requisitoModal">+ Adicionar Requisito</button></div>
    </div>
    <hr>
    <p>Veja abaixo os requisitos referente ao projeto {{ projeto.nome }}.</p>
    {% if requisitos %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for requisito in requisitos %}
        <tr>
            <th scope="row">{{ requisito.id }}</th>
            <td>{{ requisito.titulo }}</td>
            <td>{{ requisito.descricao |truncatewords:20 }}</td>
            <td>
                <button class="btn btn-block btn-info btn-sm btn-block"  data-toggle="modal" data-target="#requisitoModal{{requisito.id}}">Editar</button>
            </td>
            <td>
                <a class="btn btn-block btn-info btn-sm btn-block" href="{{requisito.id}}">Visualizar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <br>
    <div class="alert alert-info" role="alert">Sem requisitos cadastrados...</div>
    {% endif %}
</div>

<!-- Modal conteúdo novo -->
<div class="modal fade" id="requisitoModal" tabindex="-1" role="dialog" aria-labelledby="requisitoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post">{% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="requisitoModalLabel">Novo Requisito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Título:</label>
        <input type="text" class="form-control" name="titulo">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Descriçao:</label>
        <textarea class="form-control" name="descricao"></textarea>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% for requisito in requisitos %}
<!-- edicao conteudo antigo -->
<div class="modal fade" id="requisitoModal{{requisito.id}}" tabindex="-1" role="dialog" aria-labelledby="requisitoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post">{% csrf_token %}
      <input type="hidden" name="pk" value="{{requisito.id}}">
      <div class="modal-header">
        <h5 class="modal-title" id="requisitoModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Título:</label>
        <input type="text" class="form-control" name="titulo" value="{{requisito.titulo}}">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Descriçao:</label>
        <textarea class="form-control" name="descricao">{{requisito.descricao}}</textarea>
      </div>
      </div>
      <div class="modal-footer">
        <a class="btn  btn-sm btn-danger" href="/projeto/{{projeto.id}}/requisitos/{{requisito.id}}/excluir/">Excluir</a>
        <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
