<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Friend</h1>
    <p><%= @seminar.name %> seminar has been updated:</p>
    <p>It will be placed at <%= @seminar.place %></p>
    <p>The date of the seminar is <%= @seminar.date %></p>

    <p>: <%= @seminar.description %></p>


  </body>
</html>
