{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-9">
            <h1>Novo projeto</h1>
            <hr>
            <form method="post" action="criar">
                {% csrf_token %}
                <p> Nome do projeto </p> <input type="text" name="nome" class="form-control"/> </br>
                <p> Descrição       </p> <textarea name="descricao" class="form-control"></textarea> </br>                
                <p> Se quiser, pode desde já vincular desenvolvedores para o projeto. Para isso coloque os usernames separados por vírgula. </p>
                <p> <b>OBS:</b> ao criar um projeto, você já estará vinculado a ele.
                <input type="text" name="devs" class="form-control" /> </br>
                <button type="submit" class="btn btn-default">Criar</button> <br><br><br><br>


            </form>

        </div>
    </div>
</div>
{% endblock %}
