{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-9">
            <h1>Editar {{ projeto.nome }}</h1>
            <hr>
            <form method="post" action="/projeto/{{ projeto.id }}/editar/">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ projeto.id }}" />
                <p> Nome do projeto </p> <input type="text" name="nome" value="{{projeto.nome }}" class="form-control"/><br>
                <p> Estado </p>                
                {% if projeto.estado == False %}
                    <input type="radio" name="estado" value="False" checked>Em andamento <br>
                    <input type="radio" name="estado" value="True" >Terminado <br>
                {% else %}
                    <input type="radio" name="estado" value="False" >Em andamento <br>
                    <input type="radio" name="estado" value="True" checked>Terminado <br>
                {% endif %}
                <br>
                <p> Descrição       </p> <textarea name="descricao" class="form-control">{{ projeto.descricao }}</textarea>
                <p> Se quiser, acrescente novos desenvolvedores para o projeto. Para isso coloque os usernames separados por vírgula </p>
                <input type="text" name="devs" class="form-control" value="{{ users }}"/> <br>
                
                <button type="submit" class="btn btn-default">Editar</button> <br><br><br>
                            
            
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
