<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block title %}<title>SGRS</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <style>
            .hover {
                cursor: pointer;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 5px;
            }
            .hover:hover {
                background-color: #C7C8C9;
            }
            .right-margin {
                margin-right: 5px;
            }
            .bottom-margin {
                margin-bottom: 5px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/">SGRS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/projeto/">Projetos</a>
            </div>
            <div class="navbar-nav ml-auto">
              {% if request.user.is_authenticated %}
                <a class="nav-item nav-link" href="/desenvolvedor/edit">Editar Conta</a>
                <a class="nav-item nav-link" href="/desenvolvedor/logout">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="/desenvolvedor/login">Login</a>
                <a class="nav-item nav-link" href="/desenvolvedor/signup">Cadastrar-se</a>
              {% endif %}
            </div>
          </div>
        </nav>
          {% for message in messages %}
            {% if message.level_tag == 'info' %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% elif message.level_tag == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
          {% endfor %}
        <br>
        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script>
            function redirect (url) {window.location = url;}
        </script>
    </body>
</html>
