{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-9">
            <h1>Tarefas do Projeto: {{ projeto.nome }}</h1>
            <hr>
        </div>
    </div>
    {% if tarefas %}
        {% for tarefa in tarefas %}
        <dl class="row justify-content-md-center">
                <dt class="col-3">{{ tarefa.nome|truncatechars:30 }}</dt>
                <dd class="col-4">{{ tarefa.descricao|truncatechars:30 }}</dd>
                <div class="col-2">
                    <a href="/projeto/{{ projeto.id }}/tarefa/{{ tarefa.id }}" class="btn btn-info">Ver</a>
                    <a href="/projeto/{{ projeto.id }}/tarefa/{{ tarefa.id }}/editar" class="btn btn-secondary">Editar</a>
                </div>
        </dl>
        {% endfor %}
    {% else %}
        <br>
        <div class="alert alert-info" role="alert">Nenhuma tarefa foi criada ainda.</div>
    {% endif %}
    <div class="row justify-content-md-center">
        <a href="/projeto/{{ projeto.id }}/tarefa/criar" class="btn btn-info">Criar Nova</a>
    </div>
</div>
{% endblock %}
