{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9"><h1>Home</h1></div>
        <div class="col-3"><a class="btn btn-block btn-info" href="/projeto/criar">+ Adicionar Projeto<a></div>
    </div>
    <hr>
    {% if projetos %}
        <p>Veja abaixo os projetos em que você participa.</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
            </tr>
          </thead>
          <tbody>
            {% for projeto in projetos %}
            <tr class="hover" onclick="redirect('/projeto/{{ projeto.id }}')">
                <th scope="row">{{ projeto.id }}</th>
                <td><b>{{ projeto.nome }}</b></td>
                <td>{{ projeto.descricao|truncatewords:15 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <br>
        <div class="alert alert-info" role="alert">Você ainda não participa de nenhum projeto.</div>
    {% endif %}
</div>
{% endblock %}
