{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-9">
            <h2>Cadastrar usuário</h2>
            <hr>
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                <!-- {{ form.as_p }} -->
                <p>
                  {{ field.label_tag }}
                </p>
                <p>
                  {{ field }}
                </p>


                {% for error in field.errors %}
                  <p style="color:red">{{ error }}</p>
                {% endfor %}
              {% endfor %}
                  
              <button type="submit" class="btn btn-info">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
